body{
    margin-top: 50px;
  }
  footer{
    margin-top: 950px;
  }
.container{
    display: block;
    padding: 15px;
    font-size: 25px;
    margin-left: 20px;
    height: 100%;
}
.container p{
    margin-left: 20px;
}
  .box{
    width: 469px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 12px;
    border: 2px solid black;
    z-index: 1;
    float: left;
    background-color: white;
    margin-bottom: 10px;
    display: block;
}
.box .box-d{
    font-size: 30px;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 20px;
}
.box .box-d a{
    text-decoration: none;
    color: black;
}
.box img{
    width: 400x;
    height: 250px;
    border-radius: 9px;
    
}
@media(max-width:1035px){

    footer{
        margin-top: 1100px;
    }
}
@media(max-width:535px){
    .box{
        width: 400px;
        margin-left: 5px;
    }
    .box img{
        width: 400px;
        height: 250px;
        border-radius: 9px;
        
    }
    footer{
        margin-top: 1100px;
    }
}
@media(max-width:460px){
    footer{
        margin-top: 1100px;
    }
    .container{
        margin-left: 10px;

    }
}
@media(max-width:411px){
    .box{
        width: 275px;
        margin-left: 5px;
    }
    .box img{
        width: 275px;
        height: 250px;
        border-radius: 9px;
        
    }
    footer{
        margin-top: 1100px;
    }
}
@media(max-width:445px){
  .container{
    margin-left: -9px;
  }
    footer{
        margin-top: 1100px;
    }
}